#Ignore dependencies
/node_modules
**/node_modules

#Ignore local codecoverage
**/coverage

#Ignore build
/dist

#Other configs
.babelrc.js
jest.config.js
rollup.config.js

#Local dev configs to ignore 
.vscode
